/*--------------------------------
	# GENERIC VARIABLES
--------------------------------*/

.rps-paginacion .rps-pagination-list {
    padding: 0 0  1.500em 0;
    margin: 0;
    min-width: 18.125em;
  }
  
  .rps-paginacion .rps-pagination-list.rps-paginacion-right {
    float: right;
  }
  
  .rps-paginacion .rps-pagination-list .page-item {
    min-width: 48px;
    display: inline-block;
  }
  
  .rps-paginacion .rps-pagination-list .page-item a {
    font-family: 'titilliumregular';
    font-size: 0.938em;
    color: #e67600;
    width: 100%;
    text-align: center;
    padding: 0.667em 12px;
    border-right-width: 0;
  }
  
  .rps-paginacion .rps-pagination-list .page-item a:hover {
    border-color: #e67600;
    background-color: #e67600;
    color: #ffffff;
  }
  
  .rps-paginacion .rps-pagination-list .page-item.active a {
    background-color: #e67600;
    border-color: #e67600;
    color: #ffffff;
  }
  
  .rps-paginacion .rps-pagination-list .page-item.active a:hover {
    background-color: #e67600;
    border-color: #e67600;
  }
  
  .rps-paginacion .rps-pagination-list .page-item.next a {
    border-right-width: 1px;
  }
  
  .rps-paginacion .rps-pagination-button {
    text-align: left;
    list-style: none;
    padding: 0;
  }
  
  .rps-paginacion .rps-pagination-button li {
    display: inline-block;
  }
  
  .rps-paginacion .rps-pagination-button li a {
    font-family: 'titilliumregular';
    font-size: 1em;
    border-radius: 6px;
    border-color: #e0ded9;
    color: #e67600;
  }
  
  .rps-paginacion .rps-pagination-button li a:hover {
    background-color: #e67600;
    color: #ffffff;
    border-color: #e67600;
  }
  