<div class="container">

  <div class="row"> <!-- LOGO REPSOL -->
    <div class="col-md-6 offset-md-3">
      <img class="img-fluid" src="../../assets/logo.jpg" alt="Logo Repsol">
    </div>
  </div> <!-- END OF LOGO -->

  <div class="row"> <!-- ALERT CHANGE PASSWORD -->
    <div class="col-md-4 offset-md-4">
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <span>Introduce tu usuario y tu email.Recibirás una contraseña provisional a tu correo.Al usarla por primera vez tendrás que cambiarla. </span>
        <!--<span class="texto-resaltado-alerta">¡Bien hecho!</span>
        Esta <span class="texto-resaltado-alerta">alerta necesita tu atención</span>, pero no es súper importante.-->
      </div>
    </div>
  </div> <!-- END OF ALERT -->

  <div class="row">
    
    <div class="col-md-4 offset-md-4">
      <!-- BEGIN FORM -->
      <form class="form" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
      
        <div class="card"> <!-- CARD WITH INPUT FIELDS-->

          <div id="rememberPassForm" class="form-group card-body"> <!-- DIV WITH INPUTS -->

            <div class="grupo-input"><!-- INPUT USER CODE-->
              <input type="text" class="input-estandar" placeholder="Código usuario" name="codigoUsuario" [(ngModel)]="model.codigoUsuario"
              #codigoUsuario="ngModel" required  autofocus>
            </div> <!-- END INPUT-->
          
            
            <div class="grupo-input"> <!-- EMAIL INPUT -->
              <input id="inputEmail" type="text" class="input-estandar" placeholder="Email" name="email" [(ngModel)]="model.email"
              #email="ngModel" required email>
            </div> <!-- END INPUT-->
          </div> <!-- END DIV -->

          <div class="card-footer"> <!-- DIV BUTTON -->
            <div id="divButton" class="col fila-componente">
              <button id="sendButton" type="submit" [class] = "email.valid && codigoUsuario.valid ? 'boton boton-estandar' : 'boton boton-inactivo'" [disabled]="email.invalid || codigoUsuario.invalid">Enviar</button>
            </div>
          </div> <!-- END DIV BUTTON -->

        </div> <!-- END CARD-->
      </form> <!-- END FORM -->

    </div>

  </div> <!-- END ROW -->

</div> <!-- END CONTAINER -->