@import url("../../../assets/repsol/input_login.css");
@import url("../../../assets/repsol/botones_enlaces.css");

.btn:hover{
    transform: scale(1.2);
}

.btn{
    width: 210px;
     background-color: #ffa100;
}

.logo{
    width: 560px;
    height: 170px;
    margin-top: 110px;
}

/*div{
    border:1px solid black;
}*/

.card{
   padding: 20px;
   box-shadow: 3px 8px #e0d9cb;
   
}

#divCardForm {
    padding: 0px;
}

#setNewPassForm {
    margin-bottom: 0px;
}

#sendNewPass {
    width: 100%;
}

#divSendNewPass {
    margin-top: 30px;
}

#repeatedPass {
    margin-bottom: 0px;
}
