<div class="container">
  <div class="row"> <!-- LOGO REPSOL -->
    <div class="col-md-6 offset-md-3">
      <img class="img-fluid" src="../../assets/logo.jpg" alt="Logo Repsol">
    </div>
  </div> <!-- END OF LOGO -->

  <div class="row">

    <div class="col-md-4 offset-md-4">
      <!-- BEGIN FORM -->
      <form class="form" name="form" (ngSubmit)="f.form.valid && verify()" #f="ngForm" novalidate>

        <div id="divCardForm" class="card"> <!-- CARD WITH INPUT FIELDS-->

          <div id="setNewPassForm" class="form-group card-body"> <!-- DIV WITH INPUTS -->

            <div class="grupo-input"><!-- INPUT NEW PASS-->
              <input type="text" class="input-estandar" placeholder="Nueva contraseña" name="codigoUsuario" [(ngModel)]="model.password"
              #password="ngModel" required autofocus>
            </div> <!-- END INPUT-->

            
            <div class="grupo-input"> <!-- INPUT REPEAT PASS -->
              <input id="repeatedPass" type="password" class="input-estandar" placeholder="Repite la contraseña" name="password" [(ngModel)]="model.rePassword" #rePassword="ngModel"
              required>
            </div> <!-- END INPUT-->

          </div> <!-- END DIV -->

          <div class="card-footer"> <!-- DIV BUTTON -->
            <div id="divSendNewPass" class="col fila-componente">
              <button id="sendNewPass" type="submit" [class] = "f.form.valid ? 'boton boton-estandar' : 'boton boton-inactivo'" [disabled]="!f.form.valid">Enviar</button>
            </div>
          </div> <!-- END DIV BUTTON -->

        </div> <!-- END CARD-->
      </form> <!-- END FORM -->

    </div>
  </div>
</div>
